# Compiled class files
*.class

# Log files
*.log

# Directory for compiled binaries
bin/
out/
target/

# Build files
*.sbt
*.cache
project/project
project/target
project/target/config-classes

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Visual Studio Code metadata
.vscode/
./project/target
./project/project
./project/target/config-classes
.bsp