# Compiled class files
*.class

# Log files
*.log

# Directory for compiled binaries
bin/
out/
target/

# Build files
*.sbt
*.cache
project/project
project/target

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Visual Studio Code metadata
.vscode/
./project/target/
.bsp